<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery demo</title>
	<style>
	</style>
	<script src="/js/date.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript">
		var timer ;
    $(document).ready(function(){			
				function down(event) 
				{
					t.innerText = "revise" ;
			    	clearTimeout(timer);
				}

				function up(event)
				{
					scheduleNotification();
				}

				function sending()
				{
					t.innerText = "Sending..." ;
				}

				function sendOK()
				{
					t.innerText = "Send OK" ;
				}

			  	function scheduleNotification() {
			    	var timeValue = "1";
			    	var triggerTime = Date.parse(timeValue);
			    	if (!triggerTime) 
					{
			      		status("Sorry, I didn't understand when you want the notification. Enter &quot;2 minutes&quot; for example.");
			      		return;
			    	}
			    	var remaining = triggerTime.getTime() - (new Date()).getTime();
			    	if (remaining < 2000) remaining = 2000;
			    	clearTimeout(timer);
			    	timer = setTimeout(function() { sending(); }, remaining);
			  	}
				
				$("#searchForm").submit(function(event) {

		/* stop form from submitting normally */
    event.preventDefault(); 
        
    /* get some values from elements on the page: */
    var $form = $( this ),
        term = $form.find( 'input[name="s"]' ).val(),
        url = $form.attr( 'action' ),
		u = 'Dream',
		topic = '1'
		problem = '1';

    /* Send the data using post and put the results in a div */
    $.post( url, { code: term,
				   user: user,
				   topic: user,
				   problem: topic},
      function( data ) {
          var content = $( data ).find( '#content' );
          $( "#result" ).empty().append( content );
      }
    );
  });
		  		var t = document.getElementById("text");
		  		var a = document.getElementById("tarea");
				a.addEventListener('keydown', function() { down(); }, false);
				a.addEventListener('keyup', function() { up(); }, false);
    });
  </script>
 
</head>
<body>
 </body>
	<label id="text">Init..</label>
	<form action="demo_form.asp" id="searchForm">
		<textarea 	id="tarea" 
					rows="10" 
					cols="100" 
					placeholder="<Input your Code>" ></textarea>		
		<br/>
		<input type="submit" value="Submit" />
	</form>
</html>

