{% extends "base.html"%}
{% block title %}CAL-X{% endblock %}
{% block head %}
<link rel="stylesheet" TYPE="text/css" href="/codemirror/lib/codemirror.css">
<link rel="stylesheet" TYPE="text/css" href="/CSS/docs.css">
<script type="text/javascript" src="/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="/codemirror/mode/clike/clike.js"></script>
<link rel="stylesheet" href="/codemirror/theme/neat.css">
<link rel="stylesheet" href="/codemirror/theme/elegant.css">
<link rel="stylesheet" href="/codemirror/theme/night.css">
<link rel="stylesheet" href="/codemirror/theme/monokai.css">
<link rel="stylesheet" href="/codemirror/theme/cobalt.css">
<link rel="stylesheet" href="/codemirror/theme/eclipse.css">
<link rel="stylesheet" href="/codemirror/theme/rubyblue.css">
<script type="text/javascript" src="/codemirror/mode/javascript/javascript.js"></script>

<link rel="stylesheet" TYPE="text/css" href="/jquery-ui/themes/base/jquery.ui.all.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
<script type="text/javascript" src="/jquery-ui/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/jquery-ui/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/jquery-ui/ui/jquery.ui.tabs.js"></script>

<script type="text/javascript" src="/JS/date.js"></script>
<script type="text/javascript" src="/JS/cal-x/main.js"></script>
<script>var _wau = _wau || []; _wau.push(["tab", "p6vu4jv7d30x", "xrh", "left-upper"]);(function() { var s=document.createElement("script"); s.async=true; s.src="http://widgets.amung.us/tab.js";document.getElementsByTagName("head")[0].appendChild(s);})();</script>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<p>歡迎, {{ user.username }}. 感謝您登入.</p>
<a href="/accounts/logout/" >登出</a>
<a href="/accounts/password_change/">變更密碼</a>
{% else %}
  <p>歡迎, 如需更多操作請登入.</p>
<a href="/accounts/login/" >登入</a>
<a href="/accounts/password_reset/" >忘記密碼</a>
<a>變更密碼</a>
{% endif %}

<button id="example">範例</button>
<input type=button onClick="location.href='/admin'" value='題庫'>
<button disabled="true">歷史</button>
<button disabled="true" id="help" >求救</button>
<button disabled="true">問題</button>
<label id="state">系統初始化</label>
<form id="codeform" action="/cal-x/core/" method="POST">{% csrf_token %}
<label>題目</label>
<select name="question" id="question" >
{% if q_list %}
	{% for list in q_list %}
	<option value="{{ list.id }}" label="{{ list.title }}">{{ list.title }}</option>
	{% endfor %}
{% endif %}
</select>

<label>程式語言</label>
<select name="lang" id="lang" >
	<option value="11" label="C" title="C (gcc-4.6.1)" >C</option>
	<option value="1" label="C++" title="C++ (gcc-4.6.1)" >C++</option>
	<option value="10" label="Java"  title="Java (sun-jdk-1.6.0.30)" >Java</option>
</select>
<div id="tabs">
	<ul>
		<li><a href="#tabs-2">Question Doc</a></li>
		<li><a href="#tabs-1">Code</a></li>
	</ul>
	<div id="tabs-1">
	<p>Select a theme: <select id="code_theme">
    <option selected>default</option>
    <option>night</option>
    <option>monokai</option>
    <option>neat</option>
    <option>elegant</option>
    <option>cobalt</option>
    <option>eclipse</option>
    <option>rubyblue</option>
	</select>
	</p>
	<textarea id="code"	name="code" rows="10" cols="100" placeholder="<Input your Code>" >{{ code }}</textarea>		
	<input type="submit" value="送出" />
	<span id="io">
		<p>Message</p>
		<textarea id="message" readonly=true  ></textarea>
	</span>
	</div>
	<div id="tabs-2"></div>
</div>
{% endblock %}
